html[data-theme='dark'] {
    --sapphire-1-sapphire-2: #37D7BF;
    --sapphire-1-black-16: #000000;
    --sapphire-1-yellow-3: var(--yellow-3);
    --yellow-2-yellow-1: #FFE584;
    --yellow-4-yellow-3: #FCD535;
    --black-3-gray-6: #FFFFFF;
    --black-3-gray-1: #EAECEF;
    --black-3-gray-10: #C3C9D1;
    --black-5-gray-1: #EAECEF;
    --black-5-gray-3: var(--gray-3);
    --black-5-gray-6: #FFFFFF;
    --black-5-gray-10: #C3C9D1;
    --black-5-gray-11: #FFE584;
    --black-5-gray-7: var(--gray-7);
    --gray-1-black-1: #2A2B39;
    --gray-1-black-5: #474D57;
    --gray-1-black-6: #2B3139;
    --gray-3-gray-4: #707A8A;
    --gray-3-black-2: #3C3E51;
    --gray-4-gray-3: #848E9C;
    --gray-4-gray-10: #C3C9D1;
    --gray-4-gray-6: #FFFFFF;
    --gray-5-black-17: #0B0E11;
    --gray-6-black-3: #1E2329;
    --gray-6-black-4: #282D32;
    --gray-6-black-6: #2B3139;
    --gray-6-black-8: #191D24;
    --gray-6-black-9: #1B1D23;
    --gray-6-black-13: #838383;
    --gray-6-black-15: #181B26;
    --gray-6-black-10: #2E2C39;
    --gray-6-black-24: var(--black-24);
    --gray-7-black-8: #191D24;
    --gray-7-black-14: #242A30;
    --gray-7-black-15: #181B26;
    --gray-7-black-3: #1E2329;
    --gray-8-black-2: #3C3E51;
    --gray-8-black-6: #2B3139;
    --gray-8-black-7: #22232F;
    --gray-9-black-1: #2A2B39;
    --gray-9-black-2: #3C3E51;
    --gray-9-black-6: #2B3139;
    --gray-9-black-7: #22232F;
    --gray-9-black-18: #323443;
    --gray-10-black-8: #191D24;
    --gray-10-black-19: #292C44;
    --gray-11-black-9: #1B1D23;
    --gray-12-black-1: #2A2B39;
    --gray-12-black-4: #282D32;
    --gray-12-black-10: #2E2C39;
    --gray-12-black-12: #63686F;
    --gray-12-black-21: #2B2B39;
    --gray-12-black-22: #63686f7a;
    --gray-13-black-3: #1E2329;
    --gray-13-black-11: #4C4F53;
    --gray-14-black-2: #3C3E51;
    --gray-15-black-7: #22232F;
    --gray-15-black-8: #191D24;
    --gray-15-black-10: #2E2C39;
    --gray-16-black-2: #3C3E51;
    --gray-17-black-23: #2A2D39;
    --gray-18-black-2: var(--black-2);
    --gray-18-black-5: var(--black-5);
    --gray-19-black-2: var(--black-2);
    --scrollbar-track: #393737db;
    --scrollbar-thumb: #63686F;
    --scrollbar-thumb-hover: #63686F;
    --loading-screen: rgba(252, 252, 252, 0.1);
  }
  html[data-theme='light'] {
    --sapphire-1-sapphire-2: #166872;
    --sapphire-1-black-16: #166872;
    --sapphire-1-yellow-3: var(--sapphire-1);
    --yellow-2-yellow-1: #F3C117;
    --yellow-4-yellow-3: #F1BB0E;
    --black-3-gray-6: #1E2329;
    --black-3-gray-1: #1E2329;
    --black-3-gray-10: #1E2329;
    --black-5-gray-6: #474D57;
    --black-5-gray-3: var(--black-5);
    --black-5-gray-1: #474D57;
    --black-5-gray-10: #474D57;
    --black-5-gray-11: #3FA5B3;
    --black-5-gray-7: var(--black-5);
    --gray-1-black-1: #EAECEF;
    --gray-1-black-5: #EAECEF;
    --gray-1-black-6: #EAECEF;
    --gray-3-gray-4: #848E9C;
    --gray-3-black-2: #848E9C;
    --gray-4-gray-3: #707A8A;
    --gray-4-gray-10: #707A8A;
    --gray-4-gray-6: #707A8A;
    --gray-5-black-17: #D8D8D8;
    --gray-6-black-3: #FFFFFF;
    --gray-6-black-4: #FFFFFF;
    --gray-6-black-6: #FFFFFF;
    --gray-6-black-8: #FFFFFF;
    --gray-6-black-9: #FFFFFF;
    --gray-6-black-10: #FFFFFF;
    --gray-6-black-13: #FFFFFF;
    --gray-6-black-15: #FFFFFF;
    --gray-6-black-24: var(--gray-6);
    --gray-7-black-8: #FAFAFA;
    --gray-7-black-14: #FAFAFA;
    --gray-7-black-15: #D8D8D8;
    --gray-7-black-3: #FAFAFA;
    --gray-8-black-2: #F0F1F2;
    --gray-8-black-6: #F0F1F2;
    --gray-8-black-7: #F0F1F2;
    --gray-9-black-1: #E6E8EA;
    --gray-9-black-2: #E6E8EA;
    --gray-9-black-6: #E6E8EA;
    --gray-9-black-7: #E6E8EA;
    --gray-9-black-18: #E6E8EA;
    --gray-10-black-8: #C3C9D1;
    --gray-10-black-19: #C3C9D1;
    --gray-11-black-9: #f0f1f240;
    --gray-12-black-1: #E2E5E5;
    --gray-12-black-4: #E2E5E5;
    --gray-12-black-10: #E2E5E5;
    --gray-12-black-12: #E2E5E5;
    --gray-12-black-21: #E2E5E5;
    --gray-12-black-22: #E2E5E5;
    --gray-13-black-3: #F1F2F2;
    --gray-13-black-11: #F1F2F2;
    --gray-14-black-2: #8A909A;
    --gray-15-black-7: #F1F2F2;
    --gray-15-black-8: #FBFBFB;
    --gray-15-black-10: #FBFBFB;
    --gray-16-black-2: #EEEFF0;
    --gray-17-black-23: #F7F7F8;
    --gray-18-black-2: var(--gray-18);
    --gray-18-black-5: var(--gray-18);
    --gray-19-black-2: var(--gray-19);
    --scrollbar-track: #E2E5E5;
    --scrollbar-thumb: #C3C9D1;
    --scrollbar-thumb-hover: #C3C9D1;
    --loading-screen: rgba(0, 0, 0, 0.6);
  }